$white: #fff;
$black: #000;
$dark: rgba(0, 40, 81, 0.4);
$gray-dark: #828282;

$selago: #eff2fc;
$zircon: #f9faff;
$water: #ecf0fa;
$periwincle: #cfdfff;
$java: #1fc7bd;
$persian: #00b7ac;
$catalina-blue: #043b74;
$regal-blue: #013776;
$science-blue: #0068c9;
$blue-whale: #062748;
$venice-blue: #084781;
$button-link: rgba(6, 39, 72, 0.8);
$link: rgba(10, 79, 150, 0.9);
$text: rgba(6, 39, 72, 0.8);
$background-blur: linear-gradient(180deg, rgba(255, 255, 255, 0.49) 0%, rgba(255, 255, 255, 0.24) 100%);
